### GULP ###
node_modules/*

### OS X ###
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

### WINDOWS ###
ehthumbs.db
Thumbs.db
*.com
*.dll
*.exe
*.o
*.so

### IDE ###
.idea

### WORDPRESS ###
dist/*.log
dist/wp-content/cache/
dist/wp-content/advanced-cache.php
dist/wp-content/backup-db/
dist/wp-content/backups/
dist/wp-content/blogs.dir/
dist/wp-content/upgrade/
dist/wp-content/wp-cache-config.php
dist/wp-content/uploads/
dist/wp-content/themes/*
!dist/wp-content/themes/index.php
dist/wp-content/languages/themes/*-backup-*
dist/wp-content/mu-plugins/
dist/wp-content/wp-cache-config.php
dist/.htaccess
dist/license.txt
dist/readme.html
dist/sitemap.xml
dist/sitemap.xml.gz

