.page-events {
    .events {
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    .events__map {
        width: 100%;
        height: 324px;
        border: 1px solid #000;

        @media (min-width: $screen-sm-min) {
        }
        @media (min-width: $screen-md-min) {
            height: 438px;
        }
        @media (min-width: $screen-lg-min) {
        }
    }

    .events__infos__viewer {
        margin-top: 0;
    }

    .search__title {
        font-size: 4rem;
        margin-bottom: 30px;
    }
}


.search {
    margin-bottom: 40px;

    @media (min-width: $screen-sm-min) {
    }
    @media (min-width: $screen-md-min) {
        margin-bottom: 70px;
    }
    @media (min-width: $screen-lg-min) {
    }
}

.events__infos__select {
    @include svgicon('img/common/arrow.svg', 10px, 6px);
    background-position: 98% center;
    background-size: auto 6px;
    @include size(100%, 32px);
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.812rem;
    color: $white;
    background-clip: padding-box;
    border-radius: 0.4375rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    text-indent: 1.25rem;
    padding: 0 45px 0 0;
    background-color: $black;
    border: none;

    &:-moz-focusring,
    &::-moz-focus-inner {
        text-shadow: 0 0 0 #000 !important;
    }

    &::-ms-expand {
        display: none;
    }
}

.search-form {
    @include flex;
    @include flex--row;
    margin-bottom: 40px;

    .btn {
        padding: 5px 14px;
        margin-left: 20px;
    }

    input {
        @include size(100%, 32px);
        border-radius: 2px;
    }
}

.agenda {
    overflow: hidden;
    opacity: 1;
    @include transition(opacity .2s linear);

    &.disable {
        opacity: 0;
    }

    @media (min-width: $screen-sm-min) {
    }
    @media (min-width: $screen-md-min) {
        margin: 0 -15px;
    }
    @media (min-width: $screen-lg-min) {
    }
}

.agenda__no-result {
    opacity: 0;
    @include transition(opacity .2s linear);
    position: absolute;

    &.active {
        opacity: 1;
    }
}

.agenda__lign {
    @include flex;
    @include flex--row;
    @include flex--wrap;
    @include font-open(400, 1.4rem, 1.8rem);
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #979797;

    &:last-child {
        border-bottom: none;
    }

    &--label {
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 1.6rem;
        font-weight: 700;
        display: none;

        .label {
            &:last-child {
                &:before {
                    content: none;
                }
            }
        }
    }

    > div {
        padding-right: 15px;
        flex: 1 0 25%;

        &:first-child {
            display: block;
            width: 100%;
            flex: 1 0 100%;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 1.6rem;
        }
    }

    @media (min-width: $screen-sm-min) {
    }
    @media (min-width: $screen-md-min) {
        padding-bottom: 0;
        border-bottom: none;

        &--label {
            @include flex;

            .label {
                font-weight: 700;

                &:before {
                    content: "";
                    height: 1000px;
                    width: 1px;
                    background-color: #000;
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                &:first-child {
                    font-weight: 700;
                }
            }
        }

        > div {
            padding-left: 15px;

            &:first-child {
                display: block;
                width: inherit;
                flex: 1 0 25%;
                margin-bottom: 0;
                font-weight: 400;
            }
        }
    }
    @media (min-width: $screen-lg-min) {
    }
}

.send-event-form-wrapper {
    @extend .clearfix;
    clear: both;
    margin-top: 30px;
}

.send-event-form__btn {
    float: right;
}
